* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Averta;
    src: url('../tipografia/AvertaDemoPECuttedDemo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-navbar: #1E1E1E;
    --bg-dropdown: #1E1E1E;
    --bg-body: #333333;
    --text-color: #ffffff;
}

[data-theme="dark-reverse"] {
    --bg-navbar: #8f8f8f;
    --bg-dropdown: #8f8f8f;
    --bg-body: #cdcdcd;
    --text-color: #000000;
}

body {
    font: normal normal 16px/1.5 Averta, sans-serif;
    background-color: var(--bg-body);
    color: var(--text-color);
}

#navbar {
    background-color: var(--bg-navbar);
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

#navbar #logo-navbar {
    display: flex;
    list-style: none;
    margin-left: 20px;
    margin-right: auto;
}

#navbar #logo-navbar a{
    text-decoration: none;
}

#logo-navbar img {
    height: 40px;
    width: auto;
}

#navbar #categorias-navbar {
    display: flex;
    gap: 80px;
    list-style: none;
    margin-right: 40px;
}

#navbar #categorias-navbar li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #00B843;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    font: normal normal 16px Averta, sans-serif;
}

#navbar #categorias-navbar li a:hover {
    background-color: #139041;
}

#navbar #theme-toggle {
    color: var(--text-color);
    display: flex;
    margin-right: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#menu-toggle {
    display: none;
    margin-right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

@media (max-width: 861px) {
    #navbar #categorias-navbar {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--bg-dropdown);
        flex-direction: column;
        width: 200px;
        padding: 15px;
        gap: 15px;
        margin-right: 0;
        border-bottom-left-radius: 5px;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    #navbar #categorias-navbar li a {
        background-color: transparent;
    }

    #navbar #categorias-navbar.ativo {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    #theme-toggle {
        order: 2;
        margin-right: 10px;
    }

    #menu-toggle {
        display: block;
        margin-left: auto;
        order: 3;
        margin-left: 0;
    }

    #logo-navbar img {
        height: 32px;
        order: 1;
    }
}

body,
#navbar {
    transition:
        background-color 0.9s ease,
        color 0.4s ease;
}